@use "mixins" as mixins;

// Variables
$flexTransition: 1.6s;

#countryTitle {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  justify-content: center;
  align-items: center;  
  @include mixins.animation(0.5s);

  h1 {
    font-size: 3em;
    margin-left: 1%;
  }
}

.containerExpand {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

// Fade animation for panels, one appearance every 0.25s
@for $i from 0 to 10 {
  .panel:nth-child(#{$i}) { @include mixins.animation(0.75s + $i * 0.25s); }
}

.panel {
  position: relative;
  flex: 0.8 1 auto;
  margin: 10px;
  height: 100%;
  
  border-radius: 20px;
  overflow: hidden;
  opacity: 1;
  @include mixins.transition(flex $flexTransition ease);

  &:hover {
    flex: 5 1 auto;

    .background {
      filter: grayscale(0);
    }

    .gradient {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.9) 60%,rgba(0,0,0,0.9) 70%);
      opacity: 1;
      @include mixins.transform(translateY(0));
      @include mixins.transition(all 0.3s ease-in $flexTransition);
    }

    .title {
      opacity: 1;
      @include mixins.transition(all 0.3s ease-in $flexTransition);
    }

    .text {
      opacity: 1;
      @include mixins.transform(translateY(0));
      @include mixins.transition(all 0.3s ease-in $flexTransition);
    }
  }
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  background-size: cover; // TODO size ok ??
  background-position: center center;
  background-repeat: no-repeat;

  filter: grayscale(65%);
  @include mixins.transition(filter 1s ease);
}

.gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  opacity: 0;
  @include mixins.transition(all 0.1s ease-out 0s);
  @include mixins.transform(translateY(100px));
}

.title {
  position: absolute;
  margin: 0;
  bottom: 20px;
  left: 20px;
  
  opacity: 0;
  color: white;
  font-size: 24px;
  @include mixins.transition(opacity 0.6s ease-in 0.2s);
}

.text {
  position: absolute;
  margin: 0% 8%;
  bottom: 15%;

  color: white;
  font-size: 1em;
  opacity: 0;
  @include mixins.transition(all 0.1s ease-out 0s);
  @include mixins.transform(translateY(25px));
}