// Variables
$flexTransition: 1.6s;

@mixin transition ($transition) {
  transition: $transition;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
}

@mixin transform ($transform) {
  transform: $transform;
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
}

@mixin animation ($delay) {
  animation-name: fadeInOpacity;
  animation-direction: alternate;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
  animation-delay: $delay;
  animation-fill-mode: both;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
    pointer-events: none;
	}
	100% {
		opacity: 1;
	}
}

.container {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  @include animation(0.5s);
}

@for $i from 0 to 10 {
  .panel:nth-child(#{$i}) { @include animation(0.75s + $i * 0.25s); }
}

.panel {

  overflow: hidden;
  position: relative;
  height: 100%;
  border-radius: 20px;
  margin: 10px;
  flex: 0.8 1 auto;
  @include transition(flex $flexTransition ease);
  opacity: 1;

  &:hover {
    flex: 5 1 auto;

    .background {
      filter: grayscale(0);
    }

    .gradient {
      background: linear-gradient(to bottom, rgba(0,0,0,0) 20%,rgba(0,0,0,1) 95%);
      opacity: 1;
      @include transform(translateY(0));
      @include transition(all 0.3s ease-in $flexTransition);
    }

    .title {
      opacity: 1;
    }

    .text {
      opacity: 1;
      @include transform(translateY(0));
      @include transition(all 0.3s ease-in $flexTransition);
    }
  }
}

.background {
  // Full size
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  // Background
  background-size: cover; // TODO size ok ??
  background-position: center center;
  background-repeat: no-repeat;

  // Filter
  filter: grayscale(65%);
  @include transition(filter 1s ease);
}

.gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  opacity: 0;
  @include transition(all 0.1s ease-out 0s);
  @include transform(translateY(100px));
}

.title {
  position: absolute;
  margin: 0;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 24px;
  opacity: 0;
  @include transition(opacity 0.6s ease-in 0.2s);
}

.text {
  position: absolute;
  bottom: 15%;
  margin: 0% 8%;
  color: white;
  font-size: 20px;
  opacity: 0;
  @include transition(all 0.1s ease-out 0s);
  @include transform(translateY(25px));
}