@mixin transition ($transition) {
  transition: $transition;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
}

@mixin transform ($transform) {
  transform: $transform;
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  100% {
    opacity: 1;
  }
}

@mixin animation ($delay) {
  animation-name: fadeInOpacity;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: $delay;
  animation-fill-mode: both;
}