$flexTransition: 2s;

.container {
  display: flex;
  width: 100%;
}

.panel {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  height: 100vh;
  border-radius: 20px;
  margin: 10px;
  flex: 0.8 1 auto;
  transition: flex $flexTransition ease;

  &:hover {
    flex: 5 1 auto;

    .background {
      filter: grayscale(0);
    }

    .gradient {
      background: linear-gradient(to bottom, rgba(0,0,0,0) 20%,rgba(0,0,0,1) 95%);
      opacity: 1;
      transform: translateY(0);
      transition: all 0.3s ease-in $flexTransition;
    }

    .title {
      opacity: 1;
    }

    .text {
      opacity: 1;
      transform: translateY(0);
      transition: all 0.3s ease-in $flexTransition;
    }
  }
}

.background {
  // Full size
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  // Background
  background-size: cover; // TODO size ok ??
  background-position: center center;
  background-repeat: no-repeat;

  // Filter
  filter: grayscale(65%);
  transition: filter 1s ease;
}

.gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  opacity: 0;
  transition: all 0.1s ease-out 0s;
  transform: translateY(100px);
}

.title {
  position: absolute;
  margin: 0;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.6s ease-in 0.2s;
}

.text {
  position: absolute;
  top: 50%;
  margin: 20% 10%;
  color: white;
  font-size: 20px;
  opacity: 0;
  transition: all 0.1s ease-out 0s;
  transform: translateY(25px);
}