@mixin transition ($transition) {
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
}

@mixin transform ($transform) {
    transform: $transform;
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
  }

#map {
    position: absolute;
    width: 96%;
    margin: 0;
    left: 1%;
    top: 2%;
    @include transition(all 1s ease);
    z-index: 1;
}

.minimap {
    height: 50px;
    width: 50px !important;
    pointer-events: fill !important;
    cursor: pointer;
}

.selectedCountry {
    fill: #f9bc60 !important;
    opacity: 1;
}

.unhoverable {
    pointer-events: none;
}

path {
    fill: #abd1c6;
    fill-rule: evenodd;
    stroke: #fff;
    stroke-width: 0.5;
    cursor: pointer;
}

.landxx:hover {
    fill: #f9bc60;
    opacity: 1;

    &+.country-name {
        opacity: 1;
    }
}

.country-name {
    opacity: 0;
    pointer-events: none;
    @include transition(opacity 0.5s ease);
    font-style: normal;
    font-weight: bold;
    text-anchor: start;
    font-family: sans-serif;
    fill-opacity: null;
    stroke-opacity: null;
    stroke-width: 0;
    stroke: #ffffff;
    fill: #001e1d
}