@use "mixins" as mixins;

#map {
    position: absolute;
    z-index: 1;
    margin: 0;
    left: 1%;
    top: 2%;

    width: 90%;
    @include mixins.transition(all 1s ease 0.5s);
}

#back {
    position: absolute;
    z-index: 1;
    margin-top: 15px;
    margin-left: 50px;
    left: 1%;
    top: 2%;

    white-space: nowrap;
    font-style: normal;
    font-size: 1.1em;
    font-weight: bold;
    text-anchor: start;

    pointer-events: fill !important;
    cursor: pointer;
    
    opacity: 0;
    @include mixins.transition(opacity 0.5s ease);
}

.minimap {
    position: absolute;
    height: 50px;
    width: 50px !important;
    top: 0;
    left: 0;

    pointer-events: fill !important;
    cursor: pointer;

    @include mixins.transition(all 1s ease);

    ~ #back {
        opacity: 1;
        @include mixins.transition(opacity 0.5s ease 3s);
    }
}

.selectedCountry {
    fill: #f9bc60 !important;
    opacity: 1;
}

.unhoverable {
    pointer-events: none;
}

path {
    fill: #abd1c6;
    fill-rule: evenodd;
    stroke: #fff;
    stroke-width: 0.5;
    cursor: pointer;
}

.landxx:hover {
    fill: #f9bc60;
    opacity: 1;

    &+.country-name {
        opacity: 1;
    }
}

.country-name {
    pointer-events: none;
    
    font-style: normal;
    font-weight: bold;
    text-anchor: start;

    fill-opacity: null;
    stroke-opacity: null;
    stroke-width: 0;
    stroke: #ffffff;
    fill: #001e1d;

    opacity: 0;
    @include mixins.transition(opacity 0.5s ease);
}