@mixin transition ($transition) {
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
}

.landxx:hover, .country-name:hover {
    fill: orange;
    opacity: 1;
}

.landxx:hover + .country-name {
    opacity: 1;
    
}

.country-name {
    opacity: 0;
    @include transition(opacity 0.4s ease);
}

.country-name:hover {
    opacity: 1;
}

.country-name:hover ~ .landxx {
    fill: red;
    opacity: 1;
}